.shop{
    padding-top: 150px;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    min-height: 100vh;
}

.shop .all-wrapper{
    background-color: white;
    height: 100%;
    border-radius: 5px;
}

.shop .filters-wrapper{
    padding: 25px;
    display: grid;
    grid-template-columns: 200px 200px;
}

.shop .products-wrapper{
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5%;
    row-gap: 25px;
}

.shop .product-price{
    margin-top: 8px;
}

.shop .brand-filter{
    display: block;
}