.nav{
    width: 100vw;
    display: grid;
    padding: 25px 10%;
    grid-template-columns: 300px 10fr 1fr 1fr 1fr;
    position: absolute;
}

.nav .logo-img{
    display: block;
    width: 80%;
    align-self: center;
}

.nav .logo-wrapper{
    display: grid;
    grid-template-columns: 1fr 4fr;
    cursor: pointer;
}

.nav .logo-text{
    align-self: center;
    font-size: 24px;
    font-weight: 500;
    color: white;
}

.auth-link{
    color: white;
    align-self: center;
    justify-self: center;
    cursor: pointer;
}

.input-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
}

.cart-wrapper{
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr;

}

.cart-item{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    align-items: center;
}

.cart-item-img{
    display: block;
    width: 50%;
}

.cart-item-name, .cart-item-price{
    align-self: center;
}

.user-orders-wrapper{
    display: grid;
    grid-template-columns: 1fr;
}